{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}
{% block body_class %}about{% endblock %}

{% block body %}
    <div class="row">
      <h2>Organisateurs</h2>
      <hr/>

      <p>La HackingWeek a été pensée et réalisée par:</p>
      <ul>
	<li><strong>Emmanuel Fleury</strong>: Enseignant-chercheur au
          LaBRI et co-responsable du Master Cryptologie et Sécurité
          Informatique de l'Université de Bordeaux, France.</li>
      </ul>
    </div>

    <div class="row">
      <h2>Contributeurs</h2>
      <hr/>

      <p>Ils nous ont aidé à réaliser et/ou tester les challenges, le
	site web et bien d'autres choses encore:</p>

      <ul>
	<li><strong>Mathieu Comandon</strong>: Développeur web, Python
	  addict, hackeur Agile, supporter Unix & Open Source à
	  Bordeaux, France.</li>

	<li><strong>Ninon Eyrolles</strong>: Experte en sécurité
	  informatique chez Quarkslab à Paris, France.</li>

	<li><strong>Grégoire Passault</strong>: Étudiant en thèse en
	  Robotique sous la direction d'Olivier Ly dans l'équipe
	  Rhoban, au LaBRI, Bordeaux, France.</li>

	<li><strong>Renaud Tabary</strong>: Expert en sécurité
          informatique chez Avira GmbH à Constance, Allemagne.</li>
      </ul>
    </div>
{% endblock body%}
