{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}
{% block body_class %}about{% endblock %}

{% block body %}
    <h3>Organisateurs</h3>

    <p>La HackingWeek a été pensée et réalisée par:</p>

    <ul>
      <li><strong>Mathieu Comandon</strong> (Website): Développeur web
	indépendant, Python addict, hackeur Agile, supporter Unix &
	Open Source à Bordeaux, France.</li>

      <li><strong>Emmanuel Fleury</strong> (Challenges):
        Enseignant-chercheur au LaBRI et co-responsable du Master
        Cryptologie et Sécurité Informatique de l'Université de
        Bordeaux, France.</li>
    </ul>

    <h3>Contributeurs</h3>

    <p>Ils nous ont aidé à réaliser et/ou tester les challenges, le site
      web et bien d'autres choses encore:</p>

    <ul>
      <li><strong>Ninon Eyrolles</strong>: Experte en sécurité
      informatique chez Quarkslab à Paris, France.</li>

      <li><strong>Grégoire Passault</strong>: Étudiant en thèse en
	Robotique au LaBRI, équipe Rhoban sous la direction d'Olivier
	Ly.</li>

      <li><strong>Renaud Tabary</strong>: Expert en sécurité
        informatique chez Avira GmbH à Constance, Allemagne.</li>
    </ul>
{% endblock body%}
