{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load hackingweek_tags %}

{% block head_title %}{% trans "Challenges" %}{% endblock %}

{% block body_id %}challenges{% endblock %}
{% block body_class %}challenges{% endblock %}

{% block body %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
	{% if is_contest_open or request.user.is_staff %}
	{% regroup object_list|sort_lower:"category.name" by category as challenges %}
	{% if challenges|length > 0 %}
	<table class="table table-hover">
	  {% for category in challenges %}
	  <tr>
	    <th class="lead" colspan="5"><strong>{{ category.grouper|title }}</strong></th>
	  </tr>
	  <tr class="active">
	    <th>{% trans "Name" %}</th>
	    <th>{% trans "Author" %}</th>
	    <th>{% trans "Validations" %}</th>
	    <th>{% trans "Value" %}</th>
	    <th>{% trans "Status" %}</th>
	  </tr>
	    {% for item in category.list|sort_lower:"name" %}
	  <tr>
	    <td>{{ item.name }}</td>
	    <td>{{ item.author }}</td>
	    <td>{% with status=challenge_status|get_item:item.pk %}{{ status.0 }}{% endwith %}</td>
	    <td>
	      {% challenge_score challenge_status active_teams item.pk %} points
	    </td>
	    <td>{% with status=challenge_status|get_item:item.pk %}
	      <button class="btn btn-{% challenge_button_color challenge_status item.pk has_team %} btn-xs" data-toggle="modal" data-target="#id-{{ item.pk }}">&nbsp;{% challenge_button_text challenge_status item.pk has_team %}&nbsp;{% if status.2 or status.0 == 0 %}<span class="fa fa-star"></span>&nbsp;{% endif %}</button>{% endwith %}
	    </td>
	  </tr>
	    {% endfor %}
	  {% endfor %}
	</table>
	{% else %}
	<p>{% trans "No challenge available yet"%}.</p>
	{% endif %}

	{% if object_list|length > 0 %}
	<p>Cliquez sur le bouton de la colonne '{% trans "Status" %}'
	  pour accéder à l'épreuve.</p>
	{% endif %}
	{% else %} {# The contest is not open yet #}
	<p>Les épreuves ne seront accessibles qu'à partir de
	  l'ouverture du concours.</p>
	{% endif %}
      </div>
    </div>

    {% if is_contest_open or request.user.is_staff %}
    {% for challenge in object_list %}
    {% with status=challenge_status|get_item:challenge.pk %}
    <div class="modal fade" id="id-{{ challenge.pk }}" tabindex="-1" role="dialog" aria-labelledby="label-{{ challenge.pk }}" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="label-{{ challenge.pk }}">{{ challenge.name }}</h4>
	  </div>

	  <div class="modal-body">
            {% autoescape off %}{{challenge.body }}{% endautoescape %}
	  </div>

	  <div class="modal-footer">
	    {% if has_team and not status.1 %}
	    <form id="form-{{ challenge.pk }}" method="post" action="/validate/{{ challenge.pk }}/">
	      <div class="form-group">
		{% csrf_token %}
		<input id="input-{{ challenge.pk }}" type="text" class="form-control" placeholder="{% trans 'Key' %}" name="key">
	      </div>
	      <div class="form-group">
		<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
		<button type="button" class="btn btn-default"	data-dismiss="modal">{% trans "Close" %}</button>
	      </div>
	    </form>
	    {% else %}
	    <form id="form-{{ challenge.pk }}" method="post" action="">
	      <div class="form-group">
		<button type="button" class="btn btn-default"	data-dismiss="modal">{% trans "Close" %}</button>
	      </div>
	    </form>
	    {% endif %}
	  </div>
	</div>
      </div>
    </div>{% endwith %}
    {% endfor %}
    {% endif %}
 {% endblock %}
