{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}
{% load hackingweek_tags %}

{% block head_title %}{{ contestant }}{% endblock %}

{% block body_id %}contestant{% endblock %}
{% block body_class %}contestant{% endblock %}

{% block body %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
  {% if is_valid %}
       <h1><strong>{{ contestant }}</strong></h1>
       <h4>({{ profile.organisation }}, {{ profile.status }}{% if has_team %}, <a href="/team/{{ team.pk }}/">{{ team.name }}</a>{% endif %})</h4>

    {% if profile.bio %}
       <h3 class="page-header">{% trans "Bio" %}</h3>
       <p>{{ profile.bio }}</p>
    {% endif %}

       <h3 class="page-header">{% trans "Validations" %}</h3>
    {% if validations|length > 0 %}
       <table class="table table-hover">
	 <tr class="active">
	   <th>{% trans "Challenge" %}</th>
	   <th>{% trans "Date" %}</th>
	   <th>{% trans "Validations" %}</th>
	   <th>{% trans "Breakthrough" %}</th>
	 </tr>
	{% for item in validations %}
	 <tr>
	   <td>{{ item.validation.challenge.name }}</td>
	   <td>{{ item.validation.date }}</td>
	   <td>{{ item.count }}</td>
	   <td>{% if item.breakthrough %}<span class="fa fa-star"></span>{% endif %}</td>
	 </tr>
	{% endfor %}
       </table>
    {% else %}
       <p>{% blocktrans %}No challenge validated yet.{% endblocktrans %}</p>
    {% endif %}
  {% else %}
      <h3>{% blocktrans %}This contestant does not exists.{% endblocktrans %}</h3>
  {% endif %}
    </div>
      </div>
{% endblock %}
