{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Join Team Accept" %}{% endblock %}

{% block body_id %}team-join-accept{% endblock %}
{% block body_class %}team-join-accept{% endblock %}

{% block body %}
    <h1>Accepter '{{ object.requester }}' dans votre équipe&nbsp;?</h1>

    <p>L'utilisateur '{{ object.requester }}' désire rejoindre l'équipe '{{ object.team.name }}'
      dans laquelle vous êtes inscrit.</p>

    <p>Si vous acceptez sa demande, appuyez sur le bouton ci-dessous.
      Sinon, ignorez simplement cette page.</p>

    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-success">{% trans "Accept User" %}</button>
    </form>
{% endblock body%}
