{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Teams" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-4">
	  <h1>List of teams</h1>
	  <ul>
	    {% for team in object_list %}
	    <li><h4>{{ team.name }} {% if user.is_authenticated %}<a href="{{ join_team }}" class="btn btn-primary btn-xs">{% trans "Join" %}</a>{% endif %}</h4>
	      {{ team.members.all|join:", " }}.
	    </li>
	    {% empty %}
	    <li>{% trans "No team registered yet" %}.</li>
	    {% endfor %}
	  </ul>
	  {% if user.is_authenticated %}
	  <a href="{{ create_team }}" class="btn btn-primary btn-xs">{% trans "Create Team" %}</a>
	  {% endif %}
	</div>
	<div>
	  <span class="badge">Équipes {{ object_list|length }}</span>
	  <span class="badge">Utilisateurs {{ users|length }}</span>
	</div>
    </div>
{% endblock %}
